.bg {
	background-image: url('./../../../public/images/ban/bg.png');

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	background-color: rgba(255, 255, 255, 0.499);
}

@font-face {
	font-family: 'Acari Sans';
	font-display: swap;
	src: url('./../../../public/fonts/AcariSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans Medium';
	font-display: swap;
	src: url('./../../../public/fonts/AcariSans-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.acariBold {
	font-family: 'Acari Sans Bold', sans-serif;
}

.acariMedium {
	font-family: 'Acari Sans Medium', sans-serif;
}

.formBg {
	background-image: url('./../../../public/images/ban/form.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
