@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@layer base {
  html {
    font-family: 'Montserrat', system-ui, sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: 'MontserratVariable', system-ui, sans-serif;
    }
  }

  body {
    @apply antialiased;
  }
}

/* @layer components {
  .link {
    @apply text-base font-medium transition-colors hover:bg-opacity-50;
  }

  .button {
    @apply inline-flex items-center justify-center rounded-lg bg-primary px-8 py-4 text-sm font-bold uppercase transition-colors hover:bg-opacity-50;
  }

  .button.button-small {
    @apply text-lg lg:py-3 lg:text-lg;
  }

  .heading {
    @apply text-3xl font-extrabold uppercase lg:text-4xl;
  }
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


h1 {
  font-weight: 600;
}

body {
  font-family: sans-serif;
}

.slow-move>.swiper-wrapper {
  align-items: center;
  transition-timing-function: linear;
}

/* #areas::after, */
#areas::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 24px;
  z-index: 10;
}

#areas::after {
  right: 0;
  background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

@font-face {
  font-family: 'Montserrat-R';
  font-display: swap;
  src: local('MontserratAlternates-Regular'),
    url('./fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montaga';
  font-display: swap;
  src: local('Montaga-Regular'),
    url('./fonts/Montaga-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'MontaguSlab';
  font-display: swap;
  src: local('MontaguSlab-VariableFont_opsz,wght'),
    url('./fonts/MontaguSlab-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 500;
}

.monterey {
  font-family: 'Montserrat-R';
}


.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.montaga {
  font-family: 'Montaga';
}

.slab {
  font-family: 'MontaguSlab';
}

@keyframes arrowAnimation {
  0% {
    margin-left: -300px;
  }

  50% {
    margin-left: -380px;
  }

  100% {
    margin-left: -300px;
  }
}

@keyframes arrowAnimationMd {
  0% {
    margin-left: -280px;
  }

  50% {
    margin-left: -320px;
  }

  100% {
    margin-left: -280px;
  }
}

.gradient_title {
  background-image: linear-gradient(to right, #9E835F 30%, #C1AA8B);
  background-clip: text;
  -webkit-background-clip: text;
  /* Для поддержки веб-браузеров, основанных на WebKit */
  color: transparent;
}

.slick-list {
  width: 100%;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  /* width: 100% !important; */
  flex-direction: row !impor tant;
}

.slick-track {
  /* width: 100% !important; */
  flex-wrap: nowrap !important;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.slick-slider-flex {
  display: flex !important;
  justify-content: center !important;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.text_with_padding:nth-child(1) {
  padding-left: 0;
}

.text_with_padding:nth-child(2) {
  padding-left: 25px;
}

.text_with_padding:nth-child(3) {
  padding-left: 65px;
}

.text_with_padding:nth-child(4) {
  padding-left: 90px;
}

.text_with_padding:nth-child(5) {
  padding-left: 125px;
}

@import url(https://db.onlinewebfonts.com/c/5b0ba2e20d3d7e3fc30b60595f3702c2?family=Druk+Text+Bold+Trial);

@import url(https://db.onlinewebfonts.com/c/9d83fb20700a3a7c45dc9acd64ab121e?family=Droid+Sans);

@font-face {
  font-family: "Druk Text Bold Trial";
  src: url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.eot");
  src: url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.svg#Druk Text Bold Trial")format("svg");
}

@font-face {
  font-family: 'Druk';
  src: url('../src/fonts/DrukCyr-Bold.woff2') format('woff2');
  /* Добавьте другие форматы шрифта, если необходимо */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk';
  src: url('../src/fonts/druktextwidecyr-bold.otf') format('otf');
  /* Добавьте другие форматы шрифта, если необходимо */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

.eng {
  font-family: 'Druk Text Bold Trial' !important;
}

.druk {
  font-family: 'Druk';
  /* font-family: 'Druk Text Bold Trial'; */
  letter-spacing: 4px !important;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.droid {
  font-family: "Droid Sans";
  letter-spacing: normal;
}

.hero {
  background-image: url('./assets/bg.jpg');

}

.hero {

  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/bg.jpg'); */


}


/* .window {
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/window.png');
  background-size: contain;
  background-repeat: no-repeat;

} */


.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 20px;


}

.swiper .swiper-pagination-bullet-active {
  background-color: #FF7A00;

}

.btn-pum {
  box-shadow: 1px -1px 107px 8px rgba(255, 122, 0, 0.75);

}

.yellow-box {
  box-shadow: -1px 2px 79px 7px rgba(255, 236, 68, 0.75);
  -webkit-box-shadow: -1px 2px 79px 7px rgba(255, 236, 68, 0.75);
  -moz-box-shadow: -1px 2px 79px 7px rgba(255, 236, 68, 0.75);
}

.tarif {
  background-image: url('./assets/tarif_bg.png');
}

.program {
  background-image: url('./assets/program_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

ul {
  list-style: none;
}




.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

@keyframes openButton {
  0% {
    width: 3rem;
  }

  100% {
    width: 14rem;
  }
}

@keyframes openButtonBig {
  0% {
    width: 3rem;
  }

  100% {
    width: 280px;
  }
}


@keyframes openText {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated_text_appearing {
  animation-delay: 20s;
  animation: 2s ease-in-out;
  animation-name: openText;
  animation-fill-mode: forwards;
}


.animated_connection_btn_big {
  animation-delay: 20s;
  animation: 2s ease-in-out;
  animation-name: openButtonBig;
  animation-fill-mode: forwards;
}

.znms-widget__main-wrapper[data-v-029b0f26],
[data-v-08d329fc] .znms-widget__module-form-block--middle {
  border-radius: 22px !important;
  box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.58);

}


.znms-widget__widget-btn {
  /* width: 48px;
  height: 48px !important; */
  /* bottom: 80px !important; */
}

.korpo_wrapp {
  -webkit-scrollbar-width: thin !important;
  /* scrollbar-width: none !important; */
}

.korpo_wrapp::-webkit-scrollbar {
  width: 0px;
  /* scrollbar-width: none !important; */
}


.photo_swiper .swiper-button-prev,
.swiper-button-next {
  display: none !important;
}


.whyus_img {
  /* box-outline: 0px 0px 0px 4px rgba(0, 0, 0, 0.75); */
}


.korp_hero_img-blur {
  box-shadow: 0px 0px 135px 23px rgba(255, 255, 255, 1);

}